html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background: white;
    overflow: hidden;
}

.workspace, .tree {
    overflow: scroll;
    padding: 0.6em;
    font-family: 'Helvetica Neue', 'Verdana', sans-serif;
}

.workspace {
    width: 60%;
    height: 100%;
    float: left;
}

.tree {
    outline: 3px solid #ccc;
}

.nonterminal, .chooser, .literal, .text-input, .nothing {
    padding: 0.2em 0.4em;
    margin: 0.4em 0.2em;
    border-radius: 0.2em;
    display: inline-block;
    border: none;
    font-size: 100%;
    vertical-align: top;
}

.nonterminal {
    background: #44c;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nonterminal.optional:before,
.nonterminal.optional:after,
.nonterminal.multiple:before,
.nonterminal.multiple:after {
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    margin: 0.2em;
}

.nonterminal.optional:before {
    content: '[';
}
.nonterminal.optional:after {
    content: ']';
}

.nonterminal.multiple:before {
    content: '{';
}
.nonterminal.multiple:after {
    content: '}';
}

.literal, .text-input {
    background: #eee;
}
.literal, .text-input input {
    font-family: 'Menlo', 'Consolas', monospace;
    font-weight: normal;
    font-size: 100%;
    color: black;
}

.nothing {
    font-style: italic;
    color: #333;
}

.chooser {
    margin: 0;
    padding: 0;
}

.chooser .choices {
    display: none;
    position: relative;
    top: 1em;
    left: -0.2em;
    background: rgba(255, 255, 255, 0.75);
    margin: 0.4em;
    border-radius: 0.2em;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3);
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.chooser .choices:before {
    content: '↑︎';
    display: block;
    position: relative;
    top: -1.3em;
    left: 0.25em;
    font-size: 125%;
    height: 0;
}

.chooser .choices .substitution {
    padding: 0.2em;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.chooser .choices .substitution:last-child {
    border: none;
}

.chooser .choices .substitution:hover {
    background: rgba(0, 0, 0, 0.75);
}

.text-input .caption {
    font-size: 50%;
    font-weight: bold;
    text-transform: uppercase;
}

.text-input input {
    background: white;
    border: none;
    width: 5em;
    margin: 0.2em 0;
}

.tree {
    font-size: 95%;
}

.tree-node {
    padding-left: 1em;
}

.tree-node .nonterminal {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
}

.tree-node .literal {
    margin: 0.2em 0;
}

.tree-node .nonterminal:before,
.tree-node .nonterminal:after {
    color: rgba(0, 0, 0, 0.5);
}
